{% macro middleman_builder(project, git_repo, remote, branch='master') %}

{% set ssh_key = '/srv/middleman_builder/.ssh/builder_%s_%s_id.rsa' % (project, branch) %}

middleman_builder_{{ project }}:
  git:
    - latest
    - name:  {{ git_repo }}
    - target: /srv/middleman_builder/{{ project }}
    - user: middleman_builder
    - submodules: True
    - rev: {{ branch }}
  file:
    - managed
    - source: salt://webbuilder/config.sh
    - name: /srv/middleman_builder/{{ project }}.conf
    - user: middleman_builder
    - group: middleman_builder
    - mode: 644
    - template: jinja
    - context:
        name: {{ project }}
        result_dir: build
        build_command: "bundle install && bundle exec middleman build --verbose"
        remote: {{ remote }}
        branch: {{ branch }}
        email_error: mscherer@redhat.com
# for ssh keys
  cmd:
    - run
    - user: middleman_builder
    - creates: {{ ssh_key }}
    - name: ssh-keygen -N "" -q -f {{ ssh_key }} -t dsa

# TODO create the remote user
# create the ssh keys on this side
# put it in a grain on the other side
# share the setting
  cron:
    - present
    - name: /usr/local/bin/build_deploy.common.sh /srv/middleman_builder/{{ project }}.conf
    - minute: '*/5'
    - user: middleman_builder

{% endmacro %}
