Port 22
AuthorizedKeysFile .ssh/authorized_keys
ChallengeResponseAuthentication no
PasswordAuthentication no
PermitRootLogin without-password
PrintMotd no
Subsystem sftp /usr/lib/ssh/sftp-server
UseDNS no
UsePAM yes
HostKey /etc/ssh/ssh_host_rsa_key
{% if osmajorrelease <= 6 and os_family == 'RedHat' %}
UsePrivilegeSeparation yes
Hostkey /etc/ssh/ssh_host_dsa_key
{% else %}
UsePrivilegeSeparation sandbox
HostKey /etc/ssh/ssh_host_ecdsa_key
{% endif %}
